---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p class='italic'>{frontmatter.description}</p>
  <p>Written by {frontmatter.author}</p>
  <img
    src={frontmatter.image.url}
    width='300'
    alt={frontmatter.image.alt}
  />
  <div class='tags'>
    {
      frontmatter.tags.map((tag: string) => (
        <p class='tag'>
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <slot />
</BaseLayout>
